body{background-color: blueviolet;
}
h1 {text-align: center;
    text-align-last: center;
color: antiquewhite;}
    #ima1 {width: 25%;
       margin-left:35%;
    }
h2 {text-align: center;
   text-align-last: center ;
color: aliceblue;}